<h2 style="color:red;" >We got Rails running, we added content to the database, we migrated and we printed the content to the screen, WooHoo!!</h2>
<h1>Articles</h1>

<ul>
  <% @welcome.each do |welcome| %>
    <li>
      <%= welcome.title %>
    </li>
  <% end %>
</ul>

<h1>Articles</h1>

<ul>
  <% @welcome.each do |welcome| %>
    <li>
      <a href="/welcome/<%= welcome.id %>">
        <%= welcome.title %>
      </a>
    </li>
  <% end %>
</ul>


